- let productReviews = [{stars: "images/reviews/stars_1.png", text: "5+ stars! Customer service was excellent! I can't believe how flawless and fast shipping was all the way to California 😊 super happy with the product, it was perfect. It was a gift and the new bride and groom absolutely loved it. I highly recommend this seller! Thank you again!", product: "images/reviews/1.1.jpg", person: "images/reviews/1.1.png", name: "Alexander", date: "12 sept 2019 г"}, {stars: "images/reviews/stars_2.png", text: "These are GREAT~!!! Cat was quite eager and happy to work with us on what our daughter would love. The signs were exactly what our daughter would want. Great work! Thank you so very much for your quick service and EXCELLEN", product: "images/reviews/2.1.jpg", person: "images/reviews/2.1.png", name: "Kate", date: "15 may 2019 г"}, {stars: "images/reviews/stars_3.png", text: "There is no supply of coffee at all, water flows at the junction of the connection of these parts. Tightly tie fails (closes obliquely) for the reason that stopping too long nozzle container for coffee (instructions 4)", product: "images/reviews/3.1.jpg", person: "images/reviews/3.1.png", name: "Jenifer", date: "14 march 2019 г"}, {stars: "images/reviews/stars_1.png", text: "5+ stars! Customer service was excellent! I can't believe how flawless and fast shipping was all the way to California 😊 super happy with the product, it was perfect. It was a gift and the new bride and groom absolutely loved it. I highly recommend this seller! Thank you again!", product: "images/reviews/1.1.jpg", person: "images/reviews/1.1.png", name: "Alexander", date: "12 sept 2019 г"}];

.reviews 
  .container  
    .reviews__wrapper
      .reviews__top  
        .reviews__top-title.title.--small Reviews
        .reviews__top-stars
          img(src="images/reviews/stars_1.png", alt="")
        .reviews__top-total.subtitle (45)
      .reviews__list 
        each review in productReviews
          .reviews__list-column
            .reviews__list-stars
              img(src=review.stars, alt="")
            .reviews__list-text-wrapper
              .reviews__list-text=review.text
            .reviews__list-info 
              .reviews__list-product
                img(src=review.product, alt="")
              .reviews__list-person 
                img(src=review.person, alt="")
              .reviews__list-person-info 
                .reviews__list-person-name.subtitle=review.name
                .reviews__list-date=review.date
      .reviews__list-more
        .reviews__list-more-button.button-more.js-button-more
          a(href="") 23 more reviews
            img(src="images/button-more/arrow.png", alt="")
          a.--noshow(href="") Show less
            img(src="images/button-more/arrow.png", alt="")