- var productItems = [{src: "images/products/1.jpg", alt: "Pet ID tag", description: "Stamped pet ID tag", price: "$23.99", oldprice: ""}, {src: "images/products/2.jpg", alt: "Cutting Board", description: "Personalized Cutting Board - Engraved Cutting Board, Custom Cutting Board", price: "$52.00", oldprice: ""}, {modifier: "--twoprices",class: "--onsale", src: "images/products/3.jpg", alt: "Silicone Bamboo Mold", description: "Silicone Bamboo Mold, Chocolate Mold", price: "$37.80", oldprice: "$45.20"}, {src: "images/products/4.jpg", alt: "Silicone Bamboo Mold", description: "Silicone Bamboo Mold, Chocolate Mold", price: "Sold", oldprice: ""}, {src: "images/products/5.jpg", alt: "Pet ID tag", description: "Stamped pet ID tag", price: "$143.00", oldprice: ""}, {src: "images/products/6.jpg", alt: "Cutting Board", description: "Personalized Cutting Board - Engraved Cutting Board, Custom Cutting Board", price: "$52.00", oldprice: ""}, {modifier: "--twoprices", class: "--onsale", src: "images/products/7.jpg", alt: "Cutting Board", description: "Personalized Cutting Board - Engraved Cutting Board, Custom Cutting Board", price: "$37.80", oldprice: "$45.20"}, {src: "images/products/8.jpg", alt: "Silicone Bamboo Mold", description: "Silicone Bamboo Mold, Chocolate Mold", price: "$23.99", oldprice: ""}, {src: "images/products/9.jpg", alt: "Pet ID tag", description: "Stamped pet ID tag", price: "$2.30", oldprice: ""}];

.products 
  .products__filters
    .products__filter
      ul.products__filter-prices.subtitle
        li.products__filter-price
          a(href="")  Сначала самые дорогие
      a.products__arrow(href="")
    .products__filter
      ul.products__filter-ages.subtitle
        li.products__filter-age
          a(href="") Самые новые
      a.products__arrow(href="") 
  .products__wrapper 
    each item in productItems
      .products__column(class=item.modifier) 
        .products__item
          .products__item-image
            img(src= item.src, alt=item.alt).js-crop-image
          .products__item-description-container
            .products__item-description= item.description
          .products__item-price-container
            .products__item-price(class= item.class)= item.price 
          .products__item-oldprice-container
            .products__item-oldprice=item.oldprice

